<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit clone index</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Submit a new post</h1>

<form th:action="@{/addPost}" method="post">
    <label>Title:
        <input type="text" th:name="text" placeholder="Type name of the post">
    </label>
    <br>
    <label>URL:
        <input type="url" th:name="url" placeholder="Associated URL">
    </label>
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>