<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<form th:action="@{/todo/edit}" th:method="post">
    <label>Todo name:
        <input th:type="text" th:name="title" th:value="${todo.getTitle()}">
    </label>
    <label for="desc">
        <input id="desc" th:type="text" th:name="description" th:value="${todo.getDescription()}">
    </label>
    <label for="DD">Due date:
        <input type="date" id="DD" th:value="${todo.getDueDate()}">
    </label>
    <input type="hidden" th:value="${todo.getId()}" th:name="id">
    <label>Select assignee:
        <select th:name="wow">
            <option th:each="i : ${people}" th:text="${i.getName()}" th:value="${i.getId()}"
                    th:selected="${todo.getAssignee().getId() == i.getId()}"></option>
        </select>
    </label>
    <label>Urgent:
        <input type="checkbox" th:name="urgent" th:checked="${todo.isUrgent()}">
    </label>
    <label>Done:
        <input type="checkbox" th:name="done" th:checked="${todo.isDone()}">
    </label>
    <button type="submit">Save</button>
    <a th:href="@{/todo/list}">Back</a>
</form>
</body>
</html>