<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Programmer Fox Club user registration</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Register new user:</h1>
<form th:action="@{/registration}" method="post">

    <label>User name:
        <input type="text" required th:name="username">
    </label>

    <label>Password:
        <input type="password" required th:name="password">
    </label>
    <label>Re-enter password:
        <input type="password" required th:name="passwordcheck">
    </label>

    <button type="submit">Register</button>
</form>

</body>
</html>