<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Programmer Fox Club index </title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>
    Lets learn new tricks!
</h1>
<ul>
    <li>
        <a th:href="@{'/login/' + ${fox.getName()}}">Login</a>
    </li>
    <li>
        <a th:href="@{'/nutritionStore/' + ${fox.getName()}}">Nutrition Store</a>
    </li>
    <li>
        <a th:href="@{/tricks}">Learn tricks</a>
    </li>
    <h1>Action history:</h1>
    <ul>
        <li th:each="action : ${actions}" th:text="${action.getDate()} + ' : ' + ${action.getAction()}">
        </li>
    </ul>
    <h2 th:if="${actions.isEmpty()}">There are no actions yet!</h2>
</ul>