<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pokemon</title>
</head>
<body>
<h1>Add new Pokemon</h1>
<form action="/add-pokemon" method="post">
    <label for="name">Name
        <input type="text" name="name" id="name">
    </label>
    <br>
    <label for="type"></label>Type<select name="type" id="type">
    <option th:each="type : ${types}" th:value="${type}" th:text="${type.toString()}"></option>
</select><br>
    <label for="hp">hp
        <input type="number" name="hp" id="hp">
    </label>
<button type="submit">Add new pokemon</button>
</form>

</body>
</html>